*{
    font-family: 'Lato', sans-serif;
}

.hr-dashed {
    border-top: 1px dashed rgba(0, 0, 0, 0.445);
 }

.container{
    border: 1px solid rgba(0, 0, 0, 0.055);
    padding: 20px;
    margin-top:70px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.stack-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size:37px;
}

.stack-hr{
    height:5px;
    background: black;
}

/* Header Starts Here */

.container .header{
    display: flex;
    justify-content: space-between;
}

.container .header .left-pane{
    display: flex;
    flex-direction: column;
}

.container .header .left-pane .fas{
    color: #19ac08;
    margin-right: 4px;
}

.container .header .left-pane .name-branch{
    display: flex;
    flex-direction: column;
}
.container .header .left-pane .name-branch .header-name{
    font-size: 55px;
    font-weight:700;
    text-transform: uppercase;
}
.container .header .left-pane .name-branch .header-branch{
    font-size: 30px;
    color: #19ac08;
    font-weight:600;
    text-transform: uppercase;
}
.container .header .left-pane .header-contact{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.container .header .left-pane .header-contact span{
    padding:3px;
    font-size: 16px;
}

.phone-web, .mail-location{
    display: flex;
    flex-direction: column;
}

.header-image{
    border-radius: 50%;
    height:170px;
}

/* Header Ends Here */


/* Experience Starts */

.experience .exp .title{
    font-size:30px;
    font-weight:550;
}

.experience .exp .company{
    color: #19ac08;
    font-size:24px;
    font-weight: 600;
}

.experience .exp .duration-place{
    color:rgb(117, 117, 117);
    font-size: 14px;
    padding: 4px;
}

.experience .exp .duration-place .duration{
    margin-right: 15px;
}

.experience .exp .info{
    color:rgb(117, 117, 117);
    font-size: 16px;
    margin:5px;
}
.experience .exp .work-note{
    color:rgb(117, 117, 117);
    font-size: 14px;
    margin-left: 0px;
}

/* Experience Ends Here */

/* Tech Stack Starts */

.tech-stack .tech-stack-cat .title{
    color:#19ac08;
    padding: 10px 10px 10px 0px;
    font-size:27px;
    margin: 0px;
}

.tech-stack .tech-stack-cat ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.tech-stack .tech-stack-cat ul li{
    list-style: none;
    padding: 7px;
    border-bottom: 1px solid black;
    margin: 6px;
    display: inline-block;
    font-weight: 600;
}