*{
    font-family: 'Lato', sans-serif;        
}

.hr-dashed {
    border-top: 1px dashed rgba(0, 0, 0, 0.445);
 }

.container{
    border: 1px solid rgba(0, 0, 0, 0.055);
    display: flex;
    flex-direction: column;
}

.stack-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size:37px;
}

.stack-hr{
    height:5px;
    background: black;


}

/* Header Starts Here */

.container .header{
    display: flex;
    justify-content: space-between;
}
.career-obj{
    padding: 10px;
}

.container .header .left-pane{
    display: flex;
    flex-direction: column;
}

.container .header .left-pane .fas,.fab{
    color: #19ac08;
    width: 22px;
}

.container .header .left-pane .name-branch{
    display: flex;
    flex-direction: column;
}
.container .header .left-pane .name-branch .header-name{
    font-size: 45px;
    font-weight:700;
    text-transform: uppercase;
}
.container .header .left-pane .name-branch .header-branch{
    font-size: 25px;
    color: #19ac08;
    font-weight:600;
    text-transform: uppercase;
}
.container .header .left-pane .header-contact{
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}

.container .header .left-pane .header-contact span{
    padding:3px;
    font-size: 18px;
}

.phone-web, .mail-location{
    display: flex;
    flex-direction: column;
}

.header-image{
    border-radius: 50%;
    height:170px;
}

/* Header Ends Here */


/* Experience Starts */

.experience{
    margin-top:-15px;
}
.experience .exp .title{
    font-size:30px;
    font-weight:550;
}
.external-link{
    text-decoration: none;
    color: inherit;
}
.experience .exp .company{
    color: #19ac08;
    font-size:24px;
    font-weight: 600;
}

.experience .exp .duration-place{
    color:rgb(117, 117, 117);
    font-size: 18px;
    padding: 4px;
}

.experience .exp .duration-place .duration{
    margin-right: 15px;
}

.experience .exp .info{
    color:rgb(117, 117, 117);
    font-size: 20px;
    margin:5px;
}
.experience .exp .work-note{
    color:rgb(117, 117, 117);
    font-size: 18px;
    margin-left: 0px;
}

/* Experience Ends Here */

/* Tech Stack Starts */
.tech-stack{
    margin-top:-15px;
    display: flex;
    flex-direction: row;
}
.left-tech-stack{
    width: 80%;
}
.right-tech-stack{
    width: 60%;
}
.tech-stack-slanding-line{
    margin-top:47px;
    border-radius: 5px;
    border-left:7px solid black;
    transform: rotate(15deg);
}
.tech-stack .tech-stack-cat .title{
    color:#19ac08;
    padding: 10px 10px 5px 0px;
    font-size:27px;
    margin: 0px;
}

.tech-stack .tech-stack-cat ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
}

.tech-stack .tech-stack-cat ul li{
    list-style: none;
    padding: 7px;
    border-bottom: 1px solid black;
    margin: 6px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
}



/* Project Container Starts */

.projects{
    margin-top:-10px;
}

.projects-info{
    display: flex;
    flex-direction: column;  
}
.proj-row{
    margin-left: 10px;
    padding: 10px;
}
.proj-row ,.pr{
    display: flex;
}

.pr{
    width: 100%;
}

.pr .icon{
    padding:2px;
}
.icon{
    align-items: center;
    justify-content: center;
    padding: 5px !important;
    margin-right: 10px;
    font-size: 30px;
    font-weight:600;
    color:#19ac08;
}

.projects-info .title_info{
    display: flex;
    flex-direction: column;
    padding-left: 1px;
}

.title{
    font-size:25px;
    font-weight: 700;
}
.project-info{
    padding: 3px;
    margin: 0px;
}

/* Certifications starts here */

.cert-container{
    display: flex;
    flex-direction: column;
}

.cert-container .cert-row {
    display: flex;
    margin-left: 10px;
}

.cert-container .cert-row .cert{
    display: flex;
    flex-direction: column;
    width:33.33%;
    color: #19ac08;
    font-weight: 900;
    font-size:20px;
    height:60px;
}

.cert-container .cert-row .cert .issued{
    color: black;
    font-weight:500;
    font-size:18px;
}

.special-line{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.217);
    width: 80%;
    margin: 10px 0px 10px  0px;
    
}

/* Workshop Starts Here */

.workshop-title{
    font-size:25px;
    font-weight: 600;      
}

.issued-by{
    color: #19ac08;
    font-weight: 600; 
}

/* Education starts here  */



.education-row{
    display: flex;
    justify-content: space-between;
    height:70px;
}


.education-title{
    font-size:25px;
    font-weight: 400; 
    padding: 2px 0px;
}
.education-inst{
    font-weight: 600;
    font-size:18px;
    color: #19ac08;
    font-family: 'Lato', sans-serif;
}
.fa-calendar{
    font-weight: 400;
}

.education-row .duration{
    font-size:12px;
    padding: 4px 0px;
}
.education-container .special-line{
    width: 100%;
}
.vr-line{
    border-left: 2px solid black;
    height:60px;    
    
}
.right-gpa{
    display: flex;
    padding: 2px 0px;
    align-items: center;
    justify-content: center;    
    line-height:30px;    
    width: 160px;
}
.right-gpa-content{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:150px;
    
}
.score > *{
    padding:7px;
}
.right-gpa-content .gpa{
    opacity: 0.7;
    font-size:13px;
}
.right-gpa-content .score-left{
    color: #19ac08;
    font-weight: 600;
}

/* Personal Information Starts */
.personal-row-key{
    font-weight: 900;    
    display: inline-block;
    width: 140px;    
}
.personal-row-colon{
    display: inline-block;
    width:40px;
}

.personal-row{
    margin: 15px 0px 15px 0px;
    font-size: 20px;
}

/* Languages Starts */
.language-row{
    margin-bottom: 30px;
}


.language-one{
    width:30%;  
    display: inline-block;
    margin-right: 50px;
}
.language-two{
    width:30%;  
    display: inline-block;    
}
.lang-title-level{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}
.lang-level{
    opacity: 0.5;
}
.language-strength{    
    height:7px;
    background-color:#19ac08;
    border-radius: 5px;
    
}
.language-strength-container{    
    background-color: black;
    border-radius: 5px;
    padding:0px;
    margin: 0px;
}


/* a4 line */

.a4-line{
    border-left: 2px solid black;
    width:1px;
    height:100%;
}